body {
    overflow-x: hidden;
}
/* Navigation/Footer style */
nav {
    background: none !important;
    min-height: 30px !important;
    line-height: 30px !important;
    margin: 5px 10px !important;
}
nav ul {
    display: inline;
    padding: 10px 20px !important;
    box-sizing: border-box !important;
}
.navbar-nav li a {
    color: black !important;;
}
.navbar-nav li a:hover {
    color: #777 !important;;
}
nav ul li {
    height: 30px;
    line-height: 30px;
    color: black !important;
    margin: 0 .5pc;
    list-style-type: none;
}

/* -- Extra Divs in Navigation */
.spec-links div {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}
.myglyph {
    font-size: 20px;
    line-height: 30px;
}
.myglyph {
    margin: 0 5px;
    color: #777;
}
.myglyph div {
    background-color: #777;
    padding: 0;
    width: 18px;
    height: 20px;
    line-height: 30px;
    margin: 0 5px;
    font-size: .8pc;
    border-radius: 50pc;
    box-sizing: border-box;
}
.myglyph div:hover {
    background-color: black;
}
.glyphicon-th {
    color: #777;
}
.glyphicon-th:hover {
    color: black;
}
.glyphicon-bell {
    position: relative;
    top: -3px;
    color: white;
    font-size: 10px;
    line-height: 10px;
}
.user-img {
    vertical-align: top;
}
.user-img img {
    border-radius: 100px;
    width: 100%;
    height: 100%;
    margin: 0;
}
/* Navigation Style end */

/* Search Section start */
.search {
    text-align: center;
}
/* -- Home page image */
.home-page-img {
    position: relative;
    width: 40%;
    margin: 30px auto 50px auto;
}
.home-page-img img {
    width: 100%;
}

/* -- Notification */
.notifs {
    position: absolute;
    bottom: -50px;
    left: 30%;
    z-index: 9999999;

}
.notifs p {
    background-color: rgba(180,180,180,.5);
    padding: 3px 5px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 0;
    -webkit-transition: 1.5s;
}

/* -- Form */
.searchFormDiv {
    width: 50%;
    margin: auto;
}
form {
    width: 100%;
}
form .case-div-wrapper {
    width: 100%;
    padding: 12px 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px -1px #7d7d7d;
    transition: .5s;
}
form .case-div-wrapper:hover {
    box-shadow: 0px 2px 12px -1px #7d7d7d;
}
form .case-div-wrapper:focus-within {
    box-shadow: 0px 2px 12px -1px #7d7d7d;
}
form .case-div {
    position: relative;
}
.case-div:before, .case-div:after {
  content: " ";
  display: table;
}
.case-div:after {
  clear: both;
}

form .input-case {
    width: 94%;
    float: left;
    height: 30px;
}
form .mic-case {
    width: 6%;
    float: left;
    height: 30px;
}
form .input-case input[type=text] {
    width: 100%;
    height: 30px;
    font-size: 2rem;
    border: none;
}
form .input-case input:focus{
    outline: none;
}
form .mic-case img {
    width: 20px;
    height: 30px;
}
/* -- buttons */
.btns-house {
    width: 70%;
    margin: 30px auto 0 auto;
    text-align: center;
}
.search-btn-div {
    width: 250px;
    text-align: center;
    margin: 0 auto;
}
.search-btn-div::before, .search-btn-div::after {
  content: " ";
  display: table;
}
.search-btn-div:after {
  clear: both;
}
.search-btn-case {
    float: left;
}
.search-btn-case button, .feeling-lucky-case button {
    background-color: #f2f2f2;
    color: #757575;
    height: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    font-family: sans-serif,arial;
    font-size: 1.35rem;
    font-weight: bold;
}
.search-btn-case button:hover, .feeling-lucky-case button:hover {
    color: black;
}
.feeling-lucky-case {
    margin-left: 10px;
    float: left;
}
/* Search Section end */

/* Languages Section start*/
.languages-wrapper {
    text-align: center;
}
.languages {
    margin: 30px auto 0 auto;
}
.languages {
    margin: 30px auto 0 auto;
}
/* Languages Section end */

/* Footer Section Start */
.no-margin {
    margin: 0 !important;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* -- Show Location Div*/
.location {
    display: block;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

/* --Footer Links Div */
.nav-links {
    display: block;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
.nav-links ul, .location ul {
    display: block;
    padding: 0 20px !important;
    min-height: 30px;
    line-height: 50px;
}
/* Footer Section End */
