<footer>
	<article class="footerEls">
		<div class="container">
            <div class="subscribe text-center"><!--
			--><div class="description">
                    <h4>Let us keep you posted!</h4>
                    <p>(no worries, it’s 1 email/century max.)</p>
                </div><!--
			--><div class="form-wrapper">
					<form method="POST">
						<input type="email" placeholder="E-mail address"><!--
					--><button type="submit" name="button">OK</button><!--
				--></form>
				</div><!--
			--><div class="media-links">
					<div class="fb">
						<a href="#"><span class="fa fa-facebook-f"></span></a>
					</div>
					<div class="insta">
						<a href="#"><span class="fa fa-instagram"></span></a>
					</div>
					<div class="twitter">
						<a href="#"><span class="fa fa-twitter"></span></a>
					</div>
				</div>
            </div>
		</div>
	</article>
	<article class="copyright text-center">
		<div class="year">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</article>

</footer>



<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
