<footer>
	<article class="footerEls">
		<div class="container">
            <div class="subscribe text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="description">
                            <h1>Let us keep you posted!</h1>
                            <p>(no worries, it’s 1 email/century max.)</p>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="subcribe-form">
                            <form method="POST">
                                <input type="text" placeholder="E-mail address">
                                <button type="submit" name="button">OK</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="media-links">
                            <span class="fa fa-facebook-f"></span>
                            <span class="fa fa-facebook-f"></span>
                            <span class="fa fa-facebook-f"></span>
                        </div>
                    </div>
                </div>



            </div>
		</div>
	</article>
	<article class="copyright text-center">
		<div class="year">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</article>

</footer>



<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
