<!DOCTYPE html>
<html>
    <head>
        <title>Google</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="img/title-g.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <section>
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <ul class="navbar-nav navbar-right">
                        <li>Home</li>
                        <li>About</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </nav>
        </section>
        <section></section>
        <section></section>
        <footer></footer>
    </body>
</html>
