<!DOCTYPE html>
<html>
    <head>
        <title>My Node Website</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="img/title-g.png">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link rel="stylesheet" type="text/css" href="css/animate.css">
    	<link rel="stylesheet" type="text/css" href="css/master.css">
    </head>
    <body>
        <section class="section_1">
            <div class="spec-color cover">
                <% include partials/nav.ejs %>
                <div class="container">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <h1>I Love Andela</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_2">
            <div class="container">
                <div class="text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_3">
            <div class="tint-BC2-8 cover">
                <div class="container">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <h1>Mobile Take Over!</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="para-point">
                                    <strong>Mobile has taken over the world, imagine what we could create.</strong>
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_4">
            <div class="container">
                <div class="text-center">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <p>
                                <q>The best way to predict the future is to invent it.</q>
                                <span>— Alan Kay, Computer Pioneer</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include partials/footer.ejs %>
    </body>
</html>
